<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <a href="/">
            <div class="app-name">Carbon Calculator</div>
        </a>
    </header>
    <section class="search-results">
        <h1 name="food">Food: <%= data.name %></h1>
        <p name="footprint">Carbon Footprint: <%= data.footprint %></p>
    </section>
</body>
</html>